[Desktop Entry]
Name=Claude
Comment=Desktop app for Claude
GenericName=AI Assistant
Keywords=AI;Chat;Assistant;Claude;Code;LLM;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=claude-desktop --file-forwarding com.anthropic.ClaudeDesktop --ozone-platform=wayland --force-device-scale-factor=1.5 @@u %U @@
Icon=com.anthropic.ClaudeDesktop
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=claude-desktop
SingleMainWindow=true
Categories=Development;
MimeType=x-scheme-handler/claude;
Actions=NewChat;NewCode;
X-Flatpak=com.anthropic.ClaudeDesktop

[Desktop Action NewChat]
Name=New chat
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=claude-desktop com.anthropic.ClaudeDesktop --ozone-platform=wayland --force-device-scale-factor=1.5 claude://claude.ai/new

[Desktop Action NewCode]
Name=New Claude Code session
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=claude-desktop com.anthropic.ClaudeDesktop --ozone-platform=wayland --force-device-scale-factor=1.5 claude://code/new
